<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <center><u><h2>Making Requests to Figaro</h2></u></center>

    <form method="POST" action="/updates" enctype="multipart/form-data">
        <div>
            <div><b>Method:</b></div>
            <div><input type="text" name="Method" placeholder="Enter method"></div>
            
        </div>

        <div>  
            <table>

                {% for iname, idata in data.items() %}
                <tr>

                    <th>{{iname}}</th><td>{{idata}}</td>
                    
                    
                    {% endfor %}
                </tr>
            </table>


        </div>

    </form>
</body>
</html>